footer {
    color: white;
    padding-top: 50px;
}

.all-contact {
    text-align: center;
    padding-top: 30px;
}

.contact-items {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.item {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.item a {
color: white;
text-decoration: none;
}

.item a:hover {
    color: teal;
}

@media (max-width:768px){
    .contact-items {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}