.header {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 50px;
}

.logo {
    width: 25%;
}

.heading {
    font-size: 65px;
    padding: 55px 15px 0px 15px;
    background:linear-gradient(to right,black,rgb(7, 252, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 0.4px;
    text-align: center;
}

.subtitles {
    font-size: 40px;
    padding: 50px;
    text-shadow: 5px 5px 10px black;
    color: rgb(7, 252, 252);
}