.changer {
    background-color: rgba(0, 0, 0, 0.444);
    padding-top: 30px;
}

.changer button {
    background-color: rgba(24, 128, 128, 0.845);
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.changer button:hover {
    background-color: rgba(4, 52, 52, 0.439);
    border-radius: 5px;
}

.changer-info {
    color:white;
    padding: 15px;
}

.changer p {
    font-size: 18px;
    margin-top: 10px;
}